
@model List<ATS.Core.Model.QuestionBankModel>
@{
    var count = 1;
}
@foreach (var item in Model)
{
<tr>
    <td>@(count++)</td>
    <td><span class="itemName">@item.Description</span></td>
    <td><span class="itemValue">@item.QuesTypeValue</span></td>
    <td>@(item.LevelTypeValue)</td>
    <td>@item.CategoryTypeValue</td>
    <td>@item.DefaultMark</td>
    <td>
        <div class="btn-group">
            <span class="btn btn-primary btnEditType"><i class="fa fa-lg fa-edit"></i></span>
            <span class="btn btn-primary btnRemoveType"><i class="fa fa-lg fa-trash"></i></span>
        </div>
        @*<span class="itemTypeId" style="display:none">@item.TypeId</span>
        <span class="itemParentTypeId" style="display:none">@item.ParentKey</span>*@
        <span class="itemStatus" style="display:none">@item.StatusId</span>
    </td>
</tr>
}

