
@model List<ATS.Core.Model.QuestionBankModel>
@{
    var count = 1;
}
@foreach (var item in Model)
{
<tr>
    <td>@(count++)</td>
    <td><span class="itemName">@item.Description</span></td>
    <td><span class="itemValue">@item.QuesTypeDescription</span></td>
    <td>@(item.LevelTypeDescription)</td>
    <td>@item.CategoryTypeDescription</td>
    <td>
        @item.DefaultMark
        </td>
    
    <td>
        <div class="btn-group">
            <span class="btn btn-primary btnEditType"><i class="fa fa-lg fa-edit"></i></span>
            <span class="btn btn-primary btnRemoveType"><i class="fa fa-lg fa-trash"></i></span>
        </div>
       
    </td>
</tr>
}

