@model List<ATS.Core.Model.TypeDefModel>
@{
    var count = 1;
}

@foreach (var item in Model)
{
    <tr>
        <td>@(count++)</td>
        <td><span class="itemName">@item.Description</span></td>
        <td><span class="itemValue">@item.Value</span></td>
        <td>@(item.ParentDescription ?? "_")</td>
        <td>@item.StatusDescription</td>
        <td>
            <span class="btn-primary btn-sm btnEditType"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
            <span class="itemTypeId" style="display:none">@item.TypeId</span>
            <span class="itemParentTypeId" style="display:none">@item.ParentKey</span>
            <span class="itemStatus" style="display:none">@item.StatusId</span>
        </td>
    </tr>
}

