@model List<ATS.Core.Model.UserInfoModel>
@{
    var count = 1;
}
@foreach (var item in Model)
{
<tr>
    <td>@(count++)</td>
    <td><span class="firstName">@item.FName</span></td>
    <td><span class="lastName">@item.LName</span></td>
    <td><span class="mobile">@item.Mobile</span></td>
    <td><span class="email">@item.Email</span></td>
    <td><span class="createdOn">@item.CreatedDate</span></td>
    <td><span class="roleType">@item.RoleDescription</span></td>
    <td><span class="itemStatusDescription">@if (item.StatusId) {@("Active")}
    else
    {@("Inactive")}</span></td>
    <td>
        <span class="btn-primary btn-sm btnEditUser" id="btnAdd"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        <span class="btn-primary btn-sm btnRemoveUser" id="btnRemove"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
       
        <input type="hidden" class="userId" value="@item.UserId" />
        <input type="hidden" class="roleTypeId" value="@item.RoleTypeValue" />
        <input type="hidden" class="itemStatus" value="@item.StatusId" />
        <input type="hidden" class="hiddenId" value="@item.UserCredentials.Id" />
    </td>
</tr>
}