@model List<ATS.Core.Model.UserInfoModel>
@{
    var count = 1;
}
@foreach (var item in Model)
{
<tr>
    <td>@(count++)</td>
    <td><span class="firstName">@item.FName</span></td>
    <td><span class="lastName">@item.LName</span></td>
    <td><span class="mobile">@item.Mobile</span></td>
    <td><span class="email">@item.Email</span></td>
    @*<td><span class="password">pass</span></td>*@
    <td><span class="createdOn">@item.CreatedDate</span></td>
    <td><span class="roleType">@item.RoleDescription</span></td>
    <td><span class="itemStatusDescription">@if (item.StatusId) {@("Active")}
    else
    {@("Inactive")}</span></td>
    <td>
        <div class="btn-group">
            <span class="btn btn-primary btnEditUser" onclick=""><i class="fa fa-lg fa-edit"></i></span>
            <span class="btn btn-primary btnRemoveUser"><i class="fa fa-lg fa-trash"></i></span>
        </div>
        <input type="hidden" class="userId" value="@item.UserId" />
        <input type="hidden" class="roleTypeId" value="@item.RoleTypeValue" />
        <input type="hidden" class="itemStatus" value="@item.StatusId" />
        <input type="hidden" class="hiddenId" value="@item.UserCredentials.Id" />
    </td>
</tr>
}