@model List<ATS.Core.Model.UserFeedbackModel>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr class="@if (item.ReadStatus) { <text>read-status</text>} ">
            <td>
                <div class="animated-checkbox">
                    <label>
                        <input type="checkbox" value="@item.Id"><span class="label-text"></span>
                    </label>
                </div>
            </td>
            <td><a href="#"><i class="fa fa-star-o"></i></a></td>
            <td><a href="#" data-toggle="flip">@item.userInfoModel.FName @item.userInfoModel.LName</a></td>
            <td class="mail-subject">
              <b>@item.Feedback</b>
              <span class="selectedFeedBackId" style="display:none">@item.Id</span>
              <span class="selectedFeedbackReadStatus" style="display:none">@item.ReadStatus</span>
            </td>
            @*<td><i class="fa fa-paperclip"></i></td>*@
            <td> @(DateTime.Parse(item.CreatedDate.ToString()).ToString(@"dd-MM-yyyy hh:mm tt"))</td>
        </tr>
    }
}
