@model List<ATS.Core.Model.UserInfoModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            <input type="checkbox" class=checkbox  name='userCheckbox' value="@item.UserId">
        </td>
        <td>
            <span class="FirstLastName">@item.FName @item.LName</span>
        </td>
        <td> 
            <span class="Email">@item.Email </span>
        </td>
        <td>
            <span class="RoleType">@item.RoleDescription</span>
        </td>
        <td>
            <span class="Mobile">@item.Mobile</span>
            <input type="hidden" class="userId" value="@item.UserId" />
            <input type="hidden" class="roleTypeId" value="@item.RoleTypeValue" />
            <input type="hidden" class="itemStatus" value="@item.StatusId" />
        </td>
    </tr>
}

