@model List<ATS.Core.Model.TestBankModel>
@{
    var count = 1;
}
<table class="table table-striped table-sm table-bordered  table-hover " id="tblTestRecords">
    <thead>
        <tr>
            <th>#</th>
            <th>Test Description (Marks/Duration)</th>
            <th>Category</th>
            <th>Type</th>
            <th>Level</th>
            <th>Status</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@(count++)</td>
            <td><span class="itemName">@string.Format("{0} ( {1} / {2} mins )", item.Description, item.TotalMarks, item.Duration)</span></td>
            <td><span class="itemValue">@item.CategoryTypeDescription</span></td>
            <td><span>@(item.TestTypeDescription )</span></td>
            <td><span>@item.LavelTypeDescription</span></td>
            <td><span>@(item.StatusId? ATS.Core.Global.Constants.ACTIVE: ATS.Core.Global.Constants.INACTIVE)</span></td>
            <td>
                <span class="btn-primary btn-sm test-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                
                <span>
                    <input type="hidden" class="test-id" value="@item.TestBankId" />
                    <input type="hidden" class="category-value" value="@item.CategoryTypeValue" />
                    <input type="hidden" class="type-value" value="@item.TestTypeValue" />
                    <input type="hidden" class="level-value" value="@item.LevelTypeValue" />
                    <input type="hidden" class="test-marks" value="@item.TotalMarks" />
                    <input type="hidden" class="test-description" value="@item.Description" />
                    <input type="hidden" class="test-instruction" value="@item.Instructions" />
                    <input type="hidden" class="test-duration" value="@item.Duration" />
                    <input type="hidden" class="test-status" value="@item.StatusId.ToString().ToLower()" />
                </span>
            </td>
        </tr>
        }
    </tbody>
</table>


