@model List<ATS.Core.Model.TestBankModel>

        @foreach (var item in Model)
        {
<tr>
    <td>
        <input type="checkbox" class=checkbox name='testCheckbox' value="@item.TestBankId">
    </td>
    <td><span class="itemName">@string.Format("{0} ( {1} / {2} mins )", item.Description, item.TotalMarks, item.Duration)</span></td>
    <td><span class="itemValue">@item.CategoryTypeDescription</span></td>
    <td><span>@(item.TestTypeDescription)</span></td>
    <td><span>aacdas</span>
        <span>
            <input type="hidden" class="test-id" value="@item.TestBankId" />
            <input type="hidden" class="category-value" value="@item.CategoryTypeValue" />
            <input type="hidden" class="type-value" value="@item.TestTypeValue" />
            <input type="hidden" class="level-value" value="@item.LevelTypeValue" />
            <input type="hidden" class="test-marks" value="@item.TotalMarks" />
            <input type="hidden" class="test-description" value="@item.Description" />
            <input type="hidden" class="test-instruction" value="@item.Instructions" />
            <input type="hidden" class="test-duration" value="@item.Duration" />
            <input type="hidden" class="test-status" value="@item.StatusId.ToString().ToLower()" />
        </span>
    </td>
</tr>
        }




